{{#each ideas}}
    <div class="card card-body">
        <h4>{{title}}</h4>
        <p>{{details}}</p>
        <a class="btn btn-dark btn-block mb-2" href="/ideas/edit/{{id}}">Edit</a>
        <form method="post" action ="/ideas/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit"
                    class="btn-block btn-danger">Delete</button>
        </form>
    </div>
{{else}}
    <p>No Video listed</p>
{{/each}}